header,footer{
    height: 80px;
    width: 1366px;
    background-color: #333;
}
#banner{
    height: 25%;
    width: inherit;
    border: solid green 5px;
}
#main{
    height: 60%;
    width: 100%;
}
#navtab{
  height: 24px;
  width: 70%
  margin: auto;
  background: #333
}
p{
    font-size: 24px;
    margin: 15px;
}
#banner div{
    width: 100%;
    height: inherit;
}
#banner div img{
    width: inherit;
    height: inherit;
}
header div{
  width: 100%;
  height: inherit;
  margin: auto;
}
header div img{
  width: inherit;
  height: inherit;
}
#nav div{
  font-size: 18px;
  margin: auto

}
