header,footer{
    height: 300px;
    width: 1350px;
    background-color: #333;
}

header div{
  width: 50%;
  height: auto;
  margin: 0 auto;
}
header div img{
  width: inherit;
  height: auto;
}

nav a{
  font-size: 18px;
  color: #ccc;
  font-family: sans-serif;
}
#navtab{
  width: 60%;
  margin:0 auto;
  background-color: #333
}
#banner{
    height: auto;
    width: inherit;
    margin:0 auto;
    background-image: url("https://nodejs.org/static/images/interactive/background.jpg");
}
#main{
    height: 60%;
    width: 100%;
}
p{
    font-size: 24px;
    margin: 15px;
}
#banner div{
    width: 50%;
    height: auto;
}
#banner div img{
    width: inherit;
    height: auto;
}
